<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechneCon</title>
    <link rel="icon" type="image/icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon-192x192.png" />
    <link rel="stylesheet" href="/css/main.css" />
    @if (@ViewData["CustomCss"] is not null) {
        <link rel="stylesheet" href="@ViewData["CustomCss"]" />
    }
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="author" content="Samuel" />
    @* <meta http-equiv="refresh" content="1;url=/"/> *@
</head>
<body>
    <div class="top-navbar">
        <a class="logo" asp-page="/Index">TechneCon</a>
        <ul>
            <li><a asp-page="/OpusList">Werke</a></li>
            <li><a asp-page="/ArtistList">Künstler</a></li>
            <li><a asp-page="/About">Der Betreiber</a></li>
            <li><a asp-page="/Search">Suche</a></li>
        </ul>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>