@page "{id:int?}"
@model ArtistModel
@addTagHelper *, Westwind.AspNetCore.Markdown
@{
    ViewData["Title"] = Model.Artist.CommonName;
    ViewData["Description"] = "Eine kleine Übersicht des Lebens und der Werke von " + Model.Artist.Fullname;
}

<div>
    <div class="contentsplitter">
        @if (Model.Artist.HasPicture) {
            <img src="@Model.Artist.HtmlPicturePath"
                class="accompanying"/>
        }

        <div class="artistcaptions">
            <h1>@Model.Artist.AllFirstnames<br>
            @Model.Artist.Surname</h1>
            <h2>@Model.Artist.OccupationString</h2>
            <h3>@Model.Artist.LifeDates</h3>
        </div>
    </div>

    
    @if (Model.Artist.HasMarkdown) {

        <hr class="separator"/>
        <center>
            <p class="quote">
                „@Model.Artist.QuoteString“
            </p>
        </center>


        @if (!string.IsNullOrWhiteSpace(Model.Artist.BiographyString)) {
            <hr class="separator" />

            <div class="text">
            <markdown>
                @Model.Artist.BiographyString
            </markdown>
            </div>
        }
    }
</div>
