@page "{id:int?}"
@model ArtistModel
@addTagHelper *, Westwind.AspNetCore.Markdown
@{
    ViewData["Title"] = Model.CurrentArtist.CommonName;
    ViewData["Description"] = "Die Startseite des Technecons. Hier erfahren Sie etwas über zahlreiche, auch unbekannte, Künstler und deren Werke. Nehmen Sie sich einen Moment Zeit, unsere umfangreiche Sammlung zu durchstöbern.";
}

<div>
    <div class="contentsplitter">
        <img src="@Model.CurrentArtist.PicturePath"
            class="accompanying"/>
        <div class="artistcaptions">
            <h1>@Model.CurrentArtist.AllFirstnames<br>
            @Model.CurrentArtist.Surname</h1>
            <h2>Komponist</h2>
            <h3>30. November 1796 - 20. April 1869</h3>
            @* <h3>@Model.CurrentArtist.Occupations</h3> *@
        </div>
    </div>

    <hr class="separator"/>

    <div class="text">
    <markdown>
        @Model.BiographyText
    </markdown>
    </div>
</div>
