@page "/Artist/{ID:int?}"

<PageTitle>@Ar.CommonName</PageTitle>

@inject ApplicationDbContext DbContext

@code {
    [Parameter]
    public int ID { get; set; }

    public Data.Artist Ar { get; private set; }

    protected override void OnInitialized() {
        Ar = DbContext.Artists.Find(ID)!;
    }
}

<div>
    <div class="contentsplitter">
        @if (Ar.HasPicture) {
            <img src="@Ar.PicturePath"
                class="accompanying"/>
        }

        <div class="artistcaptions">
            <h1>@Ar.AllFirstnames<br>
            @Ar.Surname</h1>
            <h2>@Ar.OccupationString</h2>
            <h3>@Ar.LifeDates</h3>
        </div>
    </div>

    
    @if (!string.IsNullOrWhiteSpace(Ar.Quote)) {

        <hr class="separator"/>
        <center>
            <p class="quote">
                „@Ar.Quote“
            </p>
        </center>
    }

    @if (!string.IsNullOrWhiteSpace(Ar.Biography)) {
        <hr class="separator" />

        <div class="text">
            <Markdown Text="@Ar.Biography"/>
        </div>
    }

    <hr class="separator" />
    @foreach (Technecon.Data.Opus op in DbContext.Opera.Where(x => x.CreatorID == Ar.ID)) {
        <OpusPreview Opus="op"/>
    }
</div>
