@page
@model ArtistListModel
@{
    ViewData["Title"] = "Künstlerliste";
    ViewData["Description"] = "Eine Liste aller Künstler";
}

<div>
    @using (var db = ApplicationDbContext.CreateDefault()) {
        <div class="picturebox">
        @foreach (Artist art in db.Artists.OrderBy(x => x.Birthday)) {
            <div class="picturelink">
                <a asp-page="/Artist" asp-route-id="@art.ID">
                    <img src="@art.PicturePath" alt="@art.CommonName"/>
                    <h1>@art.CommonName</h1>
                    <h2>@art.OccupationString</h2>
                    <h3>@art.YearLifeDates</h3>
                </a>
            </div>
        }
        </div>
    }
</div>