@page "/Opus/{id:int?}"

@inject ApplicationDbContext DbContext

<PageTitle>@Op.Title</PageTitle>

@code {
    [Parameter]
    public int ID { get; set; }

    public Technecon.Data.Opus Op { get; private set; }

    protected override void OnInitialized() {
        Op = DbContext.Opera.Find(ID)!;
    }
}

<div class="opus">
    @if (Op.Kind == Technecon.Data.Opus.Type.Painting)
    {
        <img class="exhibition" src="@Op.PaintingPath" alt="@Op.Title"/>
    }

    <h1>@Op.Title</h1>
    <h2>@Op.Creator.CommonName</h2>
    @if (Op.HasText)
    {
        <div class="poem">
            @foreach (string str in Op.Text!.Split("\n\n"))
            {
                <p>
                    @foreach (string verse in str.Split("\n"))
                    {
                        @verse
                        <br>
                    }
                </p>
            }
        </div>
    }
    @if (Op.HasDescription)
    {
        <hr class="separator" />
        <div class="text">
            <Markdown Text="@Op.Description" />
        </div>
    }

    <div class="picturebox">
        <ArtistPreview Artist="@Op.Creator" />
        @if (Op.HasBase) {
            <ArtistPreview Artist="@Op.Base.Creator" />
        }
    </div>
</div>