<div class="largecaptionedpainting">
    <a href="/Opus/@Opus.ID">
        <img src="@Opus.PaintingPath" alt="@Opus.Title" title="@Opus.Title" />
        <p>@Opus.Title, @Opus.Creator.CommonName</p>
    </a>
</div>

@code {
    [Parameter]
    public Data.Opus Opus { get; set; }
}